body {
  font-family: Inter;
  justify-content: center;
  min-height: 100vh;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  position: relative;
}
.App {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}

.middle-section {
  background: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;
}
.middle-section App {
  background: #fafafa;
}
.section-spacing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  align-items: start;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.image-style {
  display: block;
  width: 100%;
}

.default-image {
  display: block; /* Default images shown by default */
}

.small-image {
  display: none; /* Small images hidden by default */
}
.last-section-spacing {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.final-section-spacing-div {
  display: flex;
  justify-content: center; /* Center horizontally */
  background-color: white;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .App {
    box-sizing: border-box;
    max-width: 400px;
    padding-top: 20px;
    max-width: max-content;
  }
  .section-spacing {
    margin: 0px;
    grid-template-columns: 1fr; /* Single column for smaller screens */
    grid-gap: 20px;
  }

  .default-image {
    display: none; /* Hide default images */
  }
  .small-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 350px;
  }
  #paymentResponsive {
    padding-top: 50px;
  }
  .last-section-spacing {
    align-items: center;
    margin-left: 0px;
  }
  .image-style {
    width: 100%;
    height: auto;
  }
  .section-spacing,
  .last-section-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .final-section-spacing-div {
    flex: none;
  }
}
